.sign-in {
    background: #0dcaf0;
    border: none;
    outline: none;
    cursor: pointer;

}

.sign-in:hover {
    background: black;
    border: none;
    outline: none;


}


.ul-div i {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: black;
    font-size: 20px;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;    

}
/* .home {
    background-color: #9fe6f5;
    background-image: url("images/1.png");
    object-fit: cover;
    object-position: top; */

    


.resiter-btn {
    background: #0dcaf0;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 8px 0;


    
}
.apply-box {
    position: absolute;
    top: 120px;
    left: 60px;
   
}
.box{
    height: 35vw;
    width: 40vw;
    min-width: 450px;
    min-height: 450px;
    

}
.first-img{
    min-height: 550px;
    object-fit: cover;
    border-radius: 40px;
}
.register-container {
    background: #011E21;
}




.block {
    background: #d5fbff;
    border-radius: 50px;
    
}

.question-section {
    position: relative;
}


.question-section button #q {
    color: #0dcaf0;
    font-size: 20px;
    margin-right: 20px;
    height: 40px;
    width: 40px;
    line-height: 37px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid black;
    
    
    
}
.question-section button {
    font-size: 20px;
}
.got-question {
    background: #d5fbff;
}
.got-question h1{
    font-size: 50px;
    font-weight: 700;
}
.footer {
    background: #011e21;
}

.footer .input {
    padding: 10px 0;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: start;
}


.footer input  {
    border: none;
    width: 90%;
    cursor: pointer;
    background: #011e21;
    padding-left: 20px;
    border-bottom: 1px solid #888;
    
}
input::placeholder {
    color: #888;
}
.footer .section span i {
    font-size: 30px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 2px solid white;
    border-radius: 50%;
    text-align: center;
    color: black;
    background: white;
  
}

.footer-accordion button {
    border: none;
    outline: none;
    background: #011e21;
    color: #888;
}

.footer-accordion .accordion-item{
    border: none;
    border-bottom: 1px solid #888;
    margin-bottom: 20px;
    
}